.sidebar {
  width: 220px;
  padding: 20px;
  background-color: #e6efe6;
  border-right: 1px solid #9dd2d7;
  height: 200vh;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.sidebar h3 {
  margin-bottom: 150px;
  color: #010504;
  text-align: center;
}

.sidebar-label {
  display: block;
  margin: 10px 0 5px 0;
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

.sidebar select {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 15px;
  border: 1px solid #312f2f;
  border-radius: 6px;
  background-color: #f3ebebd7;
  cursor: pointer;
  font-size: 14px;
  transition: border 0.2s;
}

.sidebar select:hover {
  border-color: #1b1464;
}

.selected-item {
  margin-top: 20px;
  font-weight: 500;
  color: #1b1464;
  text-align: center;
}
